@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/cuprum.woff') format('woff'),
        url('../fonts/cuprum.woff2') format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url('../fonts/cuprumbold.woff') format('woff'),
        url('../fonts/cuprumbold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/cuprumitalic.woff') format('woff'),
        url('../fonts/cuprumitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:  url('../fonts/cuprumiboldtalic.woff') format('woff'),
        url('../fonts/cuprumiboldtalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/ptsans.woff') format('woff'),
        url('../fonts/ptsans.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url('../fonts/ptsansbold.woff') format('woff'),
        url('../fonts/ptsansbold.woff2') format('woff2');
}

html {
  box-sizing: border-box
}

*, *::before, *::after {
  box-sizing: inherit
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
}

a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

.header {
  width: auto;
  min-height: 320px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #f4f7f9;
}

.header-upper-container {
  width: 100%;
  min-height: 42px;

  background-color: #293449;
}

.header-upper-container
.center-container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-logo {
  display: block;
  width: 220px;
  height: 42px;
  margin: 0;
  padding-top: 13px;
  padding-right: 55px;
  padding-bottom: 11px;
  padding-left: 56px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.header-search input {
  width: 270px;
  height: 42px;
  margin: 0;
  padding-left: 47px;
  font-family: inherit;
  background-color: transparent;
  border-color: transparent;
}

.header-search input:hover {
  background-color:#212a3a;
}

.header-search input:focus {
  background-color: #ffffff;
  border-color: transparent;
}

.header-search input::-ms-clear {
  display: none
}

.header-search input::-webkit-search-decoration,
.header-search input::-webkit-search-cancel-button,
.header-search input::-webkit-search-results-button,
.header-search input::-webkit-search-results-decoration {
  display: none;
}

.header-search input[type="search"]::placeholder {
  color:#ffffff;
}

.header-search input[type="search"]::-webkit-input-placeholder {
  color:#ffffff;
}

.header-search input[type="search"]:-moz-placeholder {
  color:#ffffff;
}

.header-search input[type="search"]::-moz-placeholder {
  color:#ffffff;
}

.header-search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.header-search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

.header-bookmarks {
  display: block;
  width: 150px;
  height: 42px;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 14px;
  padding-left: 44px;
  text-align: center;
  color: #ffffff;
}

.header-cart {
  display: block;
  width: 150px;
  height: 42px;
  padding-top: 12px;
  padding-right: 30px;
  padding-left: 49px;
  padding-bottom: 13px;
  text-align: center;
  color: #ffffff;
}

.header-buy {
  display: block;
  width: 150px;
  height: 42px;
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-align: center;
  color: #ffffff;
}

.header-bookmarks:hover,
.header-cart:hover {
  background-color: #212a3a;
}

.header-buy:hover {
  background-color: #63a63e;
}

.header-bookmarks:active,
.header-cart:active {
  color: #909399;
  background-color: #161d29;
}

.header-buy:active {
  background-color: #518534;
}

.header-buy a:active {
  color: #a8c29a;
}

.header-down-container {
  width: 100%;
  min-height: 278px;

  background-color: #f4f7f9;
}

.header-down-container
.center-container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.technomart-description {
  margin: 0;
  margin-left: 53px;
  padding: 0;
  width: 196px;
  min-height: 60px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
}

.phone-address-container {
  display: flex;
  flex-direction: column;

  margin-left: 70px;
}

.header-phone {
  margin: 0;
  padding: 0;
  width: 270px;
  min-height: 45px;

  border: 3px solid #ffffff;
}

.header-phone a {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.header-address {
  margin: 0;
  padding: 0;
  width: 270px;
  min-height: 23px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-user-navigation {
  display: flex;

  margin: 0;
  margin-left: auto;
  padding: 0;
}

.header-user-enter a,
.header-user-registration a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.header-user-enter a:hover,
.header-user-registration a:hover {
  color: #ee3643
}

.header-user-enter a:active,
.header-user-registration a:active {
  color: #cacaca
}

.header-user-enter {
  width: 121px;
  height: 45px;
  margin-right: 10px;

  background-color: #ffffff;
}

.header-user-registration {
  width: 140px;
  height: 45px;
}

.header-user-container {
  width: 300px;
  height: 45px;
  margin-left: auto;
}

.login-container {
  width: 300px;
  height: 45px;

  background-color: #ffffff;
}

.header-user-login {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.header-user-login:active {
  color: #ee3643;
}

.header-user-sales {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-user-sales li {
  margin-right: 32px;
}

.header-user-sales a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline
}

.header-user-sales a:hover {
  color: #ee3643
}

.header-user-sales a:active {
  color: #cacaca
}

.header-down-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 44px;
}

.header-site-navigation {
  min-height: 55px;
  margin: 0;
  padding: 0;

  background-color: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
}

.site-navigation-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.header-site-navigation a {
  color: #ffffff
}

.header-site-navigation a:hover {
  background-color: #293449
}

.header-site-navigation a:active {
  color: #a8abaf;
  background-color: #1d2739
}

.features-upper-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 60px;
}

.features-list-upper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.features-list-upper li {
  width: 300px;
  height: 123px;
}

.features-list-upper p {
  margin: 0;
  padding: 0;
}

.features-list-upper a {
  color: #ffffff;
  background-color: #e5e5e5
}

.features-list-upper a:hover {
  background-color: #cccccc
}

.features-list-upper a:active {
  background-color: #b2b2b2
}

.feature-materials {
  background-color: #ffbf47;
}

.feature-tools {
  background-color: #3bbce3;
}

.feature-technique {
  background-color: #dc91d8;
}

.features-slider-container {
  display: flex;
  justify-content: space-between;

  width: 960px;
  min-height: 266px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 20px;
}

/* Здесь будет стилизация слайдера */

.features-list-down {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.features-list-down li {
  width: 300px;
  height: 123px;
}

.features-list-down p {
  margin: 0;
  padding: 0;
}

.features-list-down a {
  color: #ffffff;
  background-color: #e5e5e5
}

.features-list-down a:hover {
  background-color: #cccccc
}

.features-list-down a:active {
  background-color: #b2b2b2
}

.feature-sales {
  margin-bottom: 20px;

  background-color: #8ed78f;
}

.feature-delivery {
  background-color: #ffc047;
}

.popular-goods {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 53px;

  font-family: 'PT Sans', Arial, sans-serif;
}

.popular-goods-container {
  display: flex;
  justify-content: space-between;

  width: 940px;
  min-height: 89px;

  font-family: 'Cuprum', Arial, sans-serif;
  background-color: #f9f5f0;
}

.popular-goods-container h2 {
  margin: 0;
  margin-left: 30px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
}

.popular-goods-container a {
  margin-right: 36px;

  width: 253px;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-goods-container a:hover {
  background-color: #ca2c37;
}

.popular-goods-container a:active {
  background-color: #ba2732;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.good-item {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;

  width: 220px;
  height: 318px;

  border: 1px solid #e4e4e4;
}

.popular-goods
.good-item:nth-child(4n) {
  margin-right: 0px;
}

.goods-list li:hover {
  box-shadow: 0px 10px 25px 0px rgba(51, 51, 51, 0.5);
  border: 1px solid #ffffff;
}

.goods-list h3 {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  color: #000000
}

.good-legacy-price {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through
}

.good-price {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643
}

.good-buy {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 2px
}

.good-buy:hover {
  background-color: #5fbb2d;
}

.good-buy:active {
  background-color: #518534;
}

.good-bookmark {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.good-bookmark:hover {
  border: 3px solid #32425c;
}

.good-bookmark:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}

.popular-productions {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

  font-family: 'Cuprum', Arial, sans-serif;
}

.popular-productions-container {
  display: flex;
  justify-content: space-between;

  width: 940px;
  min-height: 89px;

  background-color: #f9f5f0;
}

.popular-productions-container h2 {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
}

.popular-productions-container a {
  margin-right: 36px;

  width: 253px;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-productions-container a:hover {
  background-color: #ca2c37;
}

.popular-productions-container a:active {
  background-color: #ba2732;
}

.productions-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.production-item {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;

  width: 220px;
  height: 145px;

  border: 1px solid #e4e4e4;
}

.production-item:nth-child(4n) {
  margin-right: 0px;
}

.productions-list li:hover {
  box-shadow: 0px 10px 25px 0px rgba(51, 51, 51, 0.5);
  border: 1px solid #ffffff;
}

.services-upper-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 144px;
}

.services-upper-container h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.services-upper-container p {
  margin: 0;
  margin-top: 40px;
  padding: 0;

  width: 400px;
  min-height: 40px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.services-down-container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 144px;
}

.delivery-container {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.delivery-container h3 {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.delivery-container p {
  width: 275px;
  min-height: 83px;
  margin: 0;
  margin-top: 34px;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/* Здесь будет стилизация слайдера */

.info-contacts-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
  min-height: 535px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 82px;
}

.info-company {
  width: 520px;
  min-height: 368px;
}

.info-company h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.info-company p {
  margin: 0;
  margin-top: 39px;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery-company-description {
  width: 390px;
}

.delivery-company-list {
  margin: 0;
  margin-top: 29px;
  margin-left: 36px;
  padding: 0;
  list-style-type: none;
}

.delivery-company-list p {
  margin: 0;
  margin-top: 27px;
  padding: 0;
}

.info-company a {
  margin-top: 37px;
  width: 220px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.info-company a:hover {
  background-color: #ca2c37;
}

.info-company a:active {
  background-color: #ba2732;
}

.delivery-company-list p {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000
}

.contacts {
  width: 300px;
  min-height: 368px;
}

.contacts h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.contacts p {
  margin: 0;
  margin-top: 39px;
  padding: 0;
  width: 180px;
  min-height: 36px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contacts-map {
  margin-top: 36px;
}

.contacts button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.contacts button:hover {
  background-color: #ca2c37;
}

.contacts button:active {
  background-color: #ba2732;
}

/* Здесь начинается стилизация каталога */

.catalog {
  padding-top: 25px;
  font-family: 'PT Sans', Arial, sans-serif;
}

.catalog-navigation {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.catalog-navigation ul {
  display: flex;
  width: auto;
  min-height: 35px;
  margin:0;
  margin-left: 54px;
  padding:0;
}

.catalog-navigation li {
  margin: 0;
  padding: 0;
  margin-right: 43px;

  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.catalog-navigation a {
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.catalog-title {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 33px;
  min-height: 89px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-title h2 {
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.catalog
.center-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding-top: 20px;
}

.catalog-filter {
  width: 220px;
}

.catalog-filter h3 {
  width: auto;
  min-height: 38px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.catalog-filter p {
  margin: 0;
  padding: 0;
}

.catalog-filter ul {
  margin: 0;
  padding: 0;
}

.catalog-filter fieldset {
  border: none;
}

.catalog-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000
}

.catalog-filter label {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000
}

.catalog-filter button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.sort-goods-container {
  width: 700px;
  margin-left: 20px;
}

.catalog-sort {
  display: flex;
  width: auto;
  min-height: 38px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.catalog-sort ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-sort li {
  margin-left: 20px;
  margin-right: 20px;
}

.catalog-sort h3 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.catalog-sort a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #c7c7c7;
  text-decoration: underline dotted #ee3643
}

.catalog-sort a:hover {
  color: #000000;
  text-decoration: underline solid #ee3643
}

.catalog-sort a:focus {
  color: #ee3643;
  text-decoration: none
}

.catalog-goods
.goods-list {
  width: auto;
}

.catalog-goods
.good-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-pagination-container {
  width: auto;
  min-height: 130px;
  margin: 0;
  padding: 0;
  padding-top: 32px;
}

.catalog-pagination-container ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-pagination-container a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px
}

.catalog-pagination-container a:hover {
  border: 1px solid #bdc6ca;
}

.catalog-pagination-container a:active {
  border: 1px solid #ee3643;
}

.pagination-current {
  color: #fef5f6;
  background-color: #ee3643
}

.perforator-info {
  width: auto;
  min-height: 260px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f6f8
}

.perforator-info
.center-container {
  display: block;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 68px;
}

.perforator-info h2 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.perforator-info p {
  margin: 0;
  padding: 0;
}

.footer {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f1f5f7;

}

.footer-upper-container {
  width: auto;
  min-height: 193px;

  background-color: #32425c;
}

.footer-upper-container
.center-container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  min-height: 193px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-logo {
  width: 220px;
  height: 63px;

  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.footer-navigation-upper {
  display: flex;
  width: 620px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.footer-navigation-upper li {
  margin-top: 42px;
  margin-left: 60px;
}

.footer-navigation-upper a {
  color: #f1f5f7;
}

.footer-navigation-upper a:hover {
  text-decoration: underline
}

.footer-navigation-upper a:active {
  text-decoration: none;
  color: #929caa
}

.address-phone-container {
  width: 330px;
  margin-left: 3px;
}

.address-phone-container p {
  margin: 0;
  padding: 0;
}

.address-phone-container,
.address-phone-container a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff
}

.footer-navigation-down {
  display: flex;
  width: 620px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.footer-navigation-down li {
  margin-left: 60px;
}

.footer-navigation-down a {
  color: #e0b976;
}

.footer-navigation-down a:hover {
  text-decoration: underline;
}

.footer-navigation-down a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-down-container {
  width: auto;
  min-height: 107px;

  background-color: #293449;
}

.footer-down-container
.center-container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-copyright {
  width: 230px;
  margin: 0;
  padding: 0;
}

.social-link-list {
  display: flex;
  margin: 0;
  margin-left: 35px;
  padding: 0;
}

.footer-feedback {
  width: 136px;
  margin-left: auto;
  margin-right: 53px;

}

.footer-feedback p {
  margin: 0;
  padding: 0;
}

.footer-feedback a {
  color: #e0b976;
}

.footer-feedback a:hover {
  text-decoration: underline;
}

.footer-feedback a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-design {
  width: 110px;
  margin-right: 15px;
}

.footer-design p {
  margin: 0;
  padding: 0;
}

.footer-design a {
  color: #e0b976;
}

.footer-design a:hover {
  text-decoration: underline;
}

.footer-design a:active {
  text-decoration: none;
  color: #ee3643;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
