@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/cuprum.woff') format('woff'),
        url('../fonts/cuprum.woff2') format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url('../fonts/cuprumbold.woff') format('woff'),
        url('../fonts/cuprumbold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/cuprumitalic.woff') format('woff'),
        url('../fonts/cuprumitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:  url('../fonts/cuprumiboldtalic.woff') format('woff'),
        url('../fonts/cuprumiboldtalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/ptsans.woff') format('woff'),
        url('../fonts/ptsans.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url('../fonts/ptsansbold.woff') format('woff'),
        url('../fonts/ptsansbold.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  font-family: 'Cuprum';
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #f4f7f9;
}

.header ul,
.features ul {
  list-style: none;
}

h1 {
  font-family: 'Cuprum';
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
}

.container-header-upper {
  background-color: #293449;
}

.container-header-logo {
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.header-search input {
  font-family: inherit;

  background-color: transparent;
  border-color: transparent;
}

.header-search input:focus {
  background-color: #ffffff;
  border-color: transparent;
  outline: 0;
}

.header-search input:hover {
  background-color:#212a3a;
}

.header-search input::-ms-clear {
  display: none
}

.header-search input::-webkit-search-decoration,
.header-search input::-webkit-search-cancel-button,
.header-search input::-webkit-search-results-button,
.header-search input::-webkit-search-results-decoration {
  display: none;
}

.header-search input[type="search"]::placeholder {
  color:#ffffff;
}

.header-search input[type="search"]::-webkit-input-placeholder {
  color:#ffffff;
}

.header-search input[type="search"]:-moz-placeholder {
  color:#ffffff;
}

.header-search input[type="search"]::-moz-placeholder {
  color:#ffffff;
}

.header-search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.header-search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

.header-bookmarks,
.header-cart {
  color: #ffffff;
}

.header-bookmarks:hover,
.header-cart:hover {
  background-color: #212a3a;
}

.header-bookmarks:active,
.header-cart:active {
  color: #73777f;
  background-color: #161d29;
}

.header-buy {
  color: #ffffff;
  background-color: #63a63e
}

.header-buy:hover {
  background-color: #5fbb2d
}

.header-buy:active {
  color: #a8c29a;
  background-color: #518534
}

.header-phone a {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-link:hover,
.registration-link:hover {
  color: #ee3643;
}

.login-link:active,
.registration-link:active {
  color: #cacaca;
}

.site-navigation {
  background-color: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
}

.site-navigation a {
  color: #ffffff
}

.site-navigation a:hover {
  background-color: #293449
}

.site-navigation a:active {
  color: #a8abaf;
  background-color: #1d2739
}

.features {
  font-family: 'Cuprum';
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.features a {
  color: #ffffff;
  background-color: #e5e5e5
}

.features a:hover {
  background-color: #cccccc
}

.features a:active {
  background-color: #b2b2b2
}

.feature-materials {
  background-color: #ffbf47;
}

.feature-tools {
  background-color: #3bbce3;
}

.feature-technique {
  background-color: #dc91d8;
}

.feature-sales {
  background-color: #8ed78f;
}

.feature-delivery {
  background-color: #ffc047;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

